<div class="fila">
    <div class="columna-12">
        <span class="usuario"><%= user %></span>
        <span class="host">@<%= host %>:</span>
        <span class="folder"><%= currentFolder %></span>
        <span class="peso">$</span>
        <input type="text" class="input-cmd" id="cmd">
    </div>
</div>