<div class="fila">
<div class="columna-12" style="margin-bottom: 20px">
<pre>
__________
\______   \ ____   ____   ____  __ __
 |    |  _// __ \ /    \ /    \|  |  \
 |    |   \  ___/|   |  \   |  \  |  /
 |______  /\___  >___|  /___|  /____/
        \/     \/     \/     \/
</pre>
    <p class="texto-bienvenida"><%= welcome %></p>
</div>
</div>